.App {
    text-align: center;
}

.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

    .title {
        padding: 40px;
    }

    button {
        padding: 20px;
    }

    .btn {
        padding: 40px;
    }

    .works {
        padding-bottom: 40px;
    }
}
